---
import Layout from "../layouts/Main-Layout.astro";
import CardHome from "../components/CardHome.astro";

// Recuperiamo il baseUrl per i link
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");

const categories = [
  {
    title: "Gli Oggetti del Museo",
    href: `${baseUrl}/objects`,
    image: `${baseUrl}/bg-oggetti.png`,
    subtitle: "La Storia",
    sectionNumber: "01",
    description: "Strumenti autentici che raccontano secoli di tradizione salinara e il mestiere antico della raccolta del sale.",
    HasDescription: true,
  },
  {
    title: "Le Specie delle Saline",
    href: `${baseUrl}/species`,
    image: `${baseUrl}/bg-specie.jpg`,
    subtitle: "La Fauna",
    sectionNumber: "02",
    description: "Un ecosistema unico dove convivono fenicotteri, aironi e una ricca vegetazione adattata all'acqua salata.",
    HasDescription: true,
  },
  {
    title: "Nidificazioni dal vivo",
    href: `${baseUrl}/live`,
    image: `${baseUrl}/bg-live.jpg`,
    subtitle: "Camera live",
    sectionNumber: "03",
    description: "Un ecosistema unico dove convivono fenicotteri, aironi e una ricca vegetazione adattata all'acqua salata.",
    HasDescription: true,
  },
];
---

<Layout title='Home | SEI Museum'>
  <main class='h-screen w-full flex flex-col items-center justify-center bg-neutral-900 overflow-hidden'>
    <div class='top-24 flex flex-col items-center'>
      <img src={`${baseUrl}/sei_logo.svg`} alt='Logo SEI Museum' class='w-32 h-auto' />
    </div>

    <div class='flex flex-row gap-12 items-center mt-20 w-1/2 mx-auto justify-center text-4xl h-screen font-bold text-white'>
      <a href="/sei-museum">Camera live coming soon</a>
    </div>
  </main>
</Layout>

<style>
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
</style>
