---
import Layout from "../layouts/Main-Layout.astro";
import Menu from "../components/Menu.astro";
import CardSpecie from "../components/CardSpecie.astro";

const objects = await Astro.glob("../pages/species/*.mdx");
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<style>
  .view-toggle-btn {
    transition: all 0.3s ease;
  }

  .view-toggle-btn.active {
    color: white !important;
  }
</style>

<Layout title='Saline Ettore Infersa'>
  <!-- Material Icons -->
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' />

  <main class='flex flex-row h-screen overflow-hidden relative'>
    <Menu HasSectionNumber={false} title='Le specie delle saline' />

    <!-- Toggle Buttons -->
    <div class='absolute top-6 right-6 z-50 flex items-center gap-4'>
      <a href={`${baseUrl}/species`} class='active view-toggle-btn border border-white flex items-center gap-2 px-6 py-3 bg-neutral-800 text-white rounded-xl hover:bg-neutral-700 no-underline'>
        <span class='material-icons'>note</span>
      </a>

      <a href={`${baseUrl}/species-map`} class='view-toggle-btn flex items-center gap-2 px-6 py-3 bg-neutral-800 text-white rounded-xl hover:bg-neutral-700 no-underline'>
        <span class='material-icons'>landscape</span>
      </a>
    </div>

    <!-- List View -->
    <div class='snap-x flex-1 flex items-center justify-start gap-16 overflow-x-scroll scroll-pr-72 no-scrollbar'>
      {
        objects.map((object) => (
          <div class='first:ml-16'>
            <CardSpecie sectionNumber={object.frontmatter.sectionNumber} title={object.frontmatter.title} href={object.frontmatter.link} image={object.frontmatter.image} IsFauna={object.frontmatter.IsFauna} />
          </div>
        ))
      }
      <div class='min-w-32'></div>
    </div>
  </main>
</Layout>
