---
interface Props {
  href?: string;
  title?: string;
  HasDescription?: boolean;
  description?: string;
  sectionNumber?: string;
  image?: string;
  alt?: string;
}

const {href = "#", title = "GLI ATTREZZI DELLA SALINA", description = "Lorem ipsum", sectionNumber = "01", image = "/sei-museum/assets/placeholder.jpg", alt = "", HasDescription = false} = Astro.props;
---

<a href={href} class='bg-neutral-700 rounded-xl w-[400px] p-4 gap-8 flex flex-col group h-full items-center'>
  <div class='w-full'>
    <!-- <p class='text-8xl font-extralight text-white group-hover:opacity-0 animation-smooth'>{sectionNumber}</p> -->
    <p class='w-full text-3xl font-bold text-white uppercase group-hover:opacity-0 group-hover:-translate-y-20 animation-smooth'>{title}</p>
  </div>
  <img src={image} alt={image} class='rounded-lg group-hover:-translate-y-32 group-hover:scale-110 animation-smooth object-fit' />

  {HasDescription && <p class='w-full text-2xl font-extralight text-left text-white uppercase animation-smooth group-hover:-translate-y-20'>{description}</p>}
  <p class='invisible px-8 py-2 text-xl font-bold text-center text-black uppercase bg-white rounded-full opacity-0 w-fit group-hover:visible group-hover:opacity-100 animation-smooth'>Inizia</p>
</a>
