---
interface Props {
  href?: string;
  title?: string;
  description?: string;
  sectionNumber?: string;
  image?: string;
  alt?: string;
  IsFauna?: boolean;
}

const {href = "#", title = "GLI ATTREZZI DELLA SALINA", description = "Lorem ipsum", sectionNumber = "01", image = "/sei-museum/assets/placeholder.jpg", alt = "", IsFauna = true} = Astro.props;
---

<a href={href} class='bg-neutral-700 rounded-xl min-w-[500px] snap-start p-4 gap-8 flex flex-col group items-center scroll-ml-16 first-child:pl-16' transition:animate='slide'>
  <div class='w-full'>
    <p class='text-white font-extralight text-8xl group-hover:opacity-0 animation-smooth'>{sectionNumber}</p>

    {(IsFauna && <p class='text-white font-extralight text-2xl uppercase group-hover:opacity-0 animation-smooth'>Fauna della salina</p>) || <p class='text-white font-extralight text-2xl uppercase group-hover:opacity-0 animation-smooth'>Flora della salina</p>}
  </div>
  <img src={image} alt={image} class='rounded-lg group-hover:-translate-y-32 group-hover:scale-110 animation-smooth object-fit' />
  <p class='text-white font-bold text-3xl group-hover:-translate-y-20 animation-smooth uppercase w-full'>{title}</p>
  <p class='bg-white text-black font-bold px-8 py-2 text-xl rounded-full text-center w-fit invisible opacity-0 group-hover:visible group-hover:opacity-100 animation-smooth uppercase'>Apri</p>
</a>
