---
import Buttons from "../components/Buttons.astro";
import Menu from "../components/Menu.astro";
import Layout from "./Main-Layout.astro";

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class='flex flex-row'>
    <Menu HasSectionNumber={true} sectionNumber={frontmatter.sectionNumber} title={frontmatter.title} />

    <div class='grid grid-cols-2 gap-8 w-full p-32'>
      <div class='col-span-full text-white h-fit space-y-2'>
        <p class='text-7xl font-extralight'>{frontmatter.sectionNumber}</p>
        <p class='text-white font-light text-xl uppercase'>Gli attrezzi della salina</p>
        <p class='text-white font-bold text-3xl uppercase'>{frontmatter.title}</p>
      </div>
      <!--Col 1-->
      <div class='flex flex-col gap-y-8'>
        <div class='rounded-2xl overflow-clip group'>
          <img src={frontmatter.image} alt={frontmatter.alt} class='overflow-clip group-hover:scale-110 animation-smooth aspect-video object-cover' />
        </div>
      </div>
      <!--Col 2-->
      <div class='flex flex-col gap-y-8'>
        <p class='text-white text-2xl w-prose '>
          {frontmatter.ITdescription}
        </p>
        <p class='text-white/70 text-2xl w-prose'>
          {frontmatter.ENdescription}
        </p>
      </div>
      <!--Page controls-->
      <div class='flex gap-4 col-span-full'>
        <Buttons hasIconLeft={true} srcIcon='/sei-museum/monitorPlay.svg' label='Video' link={frontmatter.videoLink} />
        <span class='ml-auto'></span>
        <Buttons hasIconLeft={true} srcIcon='/sei-museum/arrowLeft.svg' label='' link={frontmatter.prevSection} />

        <Buttons hasIconRight={true} srcIcon='/sei-museum/arrowRight.svg' label='Prossimo contenuto' link={frontmatter.nextSection} />
      </div>
    </div>
  </main>
</Layout>
