---
import Buttons from "../components/Buttons.astro";
import Layout from "./Main-Layout.astro";

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class='flex flex-row'>
    <div class='w-full p-8 h-screen flex flex-col justify-around items-center'>
      <video class='w-4/5 rounded-2xl aspect-video' controls='' poster={frontmatter.image}>
        <source src={frontmatter.video} type='video/mp4' />
      </video>

      <!--Page controls-->
      <div class='flex gap-4 w-full justify-around'>
        <Buttons hasIconLeft={false} label='Chiudi' link='/' />
        <div class='flex gap-4'>
          <Buttons hasIconLeft={true} srcIcon='/public/arrowLeft.svg' label='' link={frontmatter.prevSection} />
          <Buttons hasIconRight={true} srcIcon='/public/arrowRight.svg' label='Prossimo contenuto' link={frontmatter.nextSection} />
        </div>
      </div>
    </div>
  </main>
</Layout>
